
@{
    ViewData["Title"] = "ImgUp";
}

<h2>ImgUp</h2>

<form class="form-horizontal" action="/api/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" value="전송" />
</form>

